Repository itsmycargo/docker-library: changes, and which Jenkins stages are due for each by the changed paths.
All: airflow, builder, builder/node, builder/ruby-2.6, builder/ruby-2.6-alpine, danger, deploy, diff-cover, imposm3, jenkins, postgis-review

airflow:
            steps {
              dockerBuild(dir: "/airflow", image: "library/airflow")
            }
          

builder:
            steps {
              dockerBuild(dir: "/builder", image: "library/builder")
            }
          

builder/node:
            steps {
              dockerBuild(dir: "/builder/node", image: "library/builder/node")
            }
          

builder/ruby-2.6:
            steps {
              dockerBuild(dir: "/builder/ruby-2.6", image: "library/builder/ruby-2.6")
            }
          

builder/ruby-2.6-alpine:
            steps {
              dockerBuild(dir: "/builder/ruby-2.6-alpine", image: "library/builder/ruby-2.6-alpine")
            }
          

danger:
            steps {
              dockerBuild(dir: "/danger", image: "library/danger")
            }
          

deploy:
            steps {
              dockerBuild(dir: "/deploy", image: "library/deploy")
            }
          

diff-cover:
            steps {
              dockerBuild(dir: "/diff-cover", image: "library/diff-cover")
            }
          

imposm3:
            steps {
              dockerBuild(dir: "/imposm3", image: "library/imposm3")
            }
          

jenkins:
            steps {
              dockerBuild(dir: "/jenkins", image: "library/jenkins")
            }
          

postgis-review:
            steps {
              dockerBuild(dir: "/postgis-review", image: "library/postgis-review")
            }
          

feat: changeset build
  Jenkinsfile
Due: none

feat: changesets
  Jenkinsfile
  jenkins/plugins.txt
Due: jenkins

feat: changesets
  Jenkinsfile
Due: none

feat: better builds
  Jenkinsfile
  builder/node/Dockerfile
  builder/ruby-2.6-alpine/Dockerfile
Due: builder, builder/node, builder/ruby-2.6-alpine

chore: updates
  danger/Dockerfile
  deploy/Dockerfile
Due: danger, deploy

feat: allow force build image
  Jenkinsfile
Due: none

feat: jenkins plugins
  jenkins/plugins.txt
Due: jenkins

fix: force image build
  Jenkinsfile
Due: none

[airflow] support for trello/jira
  airflow/requirements.txt
Due: airflow

feat: update jenkins
  jenkins/Dockerfile
Due: jenkins

feat: aws-cli
  .github/dependabot.yml
  Jenkinsfile
  aws-cli/Dockerfile
Due: none

feat: aws-cli
  Jenkinsfile
Due: none

[jenkins] skip-notifications-trait
  jenkins/Dockerfile
  jenkins/plugins.txt
Due: jenkins

fix: rollback jenkins
  jenkins/Dockerfile
Due: jenkins

[jenkins] bump version
  Jenkinsfile
  jenkins/Dockerfile
  jenkins/plugins.txt
Due: jenkins

airflow: adding extra packages
  airflow/requirements.txt
Due: airflow

deploy: add aws-cli
  deploy/Dockerfile
Due: deploy

feat: add H3 library to airflow
  airflow/requirements.txt
Due: airflow

[airflow] - bump to 1.10.13
  airflow/Dockerfile
Due: airflow

[airflow]: add jmespath
  airflow/requirements.txt
Due: airflow

[jenkins] update jenkins
  jenkins/Dockerfile
  jenkins/plugins.txt
Due: jenkins

deprecated custom jenkins image
  jenkins/Dockerfile
  jenkins/plugins.txt
Due: jenkins

feat: extracted airflow to own repo
  airflow/Dockerfile
  airflow/requirements.txt
Due: airflow

Path conditions:
  airflow: any of: /airflow/**
  builder: any of: /builder/**
  builder/node: any of: /builder/node/**
  builder/ruby-2.6: any of: /builder/ruby-2.6/**
  builder/ruby-2.6-alpine: any of: /builder/ruby-2.6-alpine/**
  danger: any of: /danger/**
  deploy: any of: /deploy/**
  diff-cover: any of: /diff-cover/**
  imposm3: any of: /imposm3/**
  jenkins: any of: /jenkins/**
  postgis-review: any of: /postgis-review/**
